<div class="center">
  <div class="row">
    <% @lists.each do |list| %>
    <div class="col-md-3">
      <div class="thumbnail">
        <%= image_tag list.image.url %>
        <div class="caption">
          <h3><%= list.name %></h3>
          <p><%= number_to_currency(list.price) %></p>
          <%= link_to 'Show', list, class: "btn btn-link" %>
          <%= link_to 'Edit', edit_list_path(list), class: "btn btn-link" %>
          <%= link_to 'Destroy', list, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>    

<br>

<%= link_to 'New List', new_list_path, class: "btn btn-link" %>

